# Configuración privada
.env
config/database.local.php
config/api_keys.php

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Respaldos
*.sql
!database/sistema_comercial_impe.sql

backups/

# Archivos temporales
*.log
tmp/

/vendor/
config/mail_config.php

# Archivos temporales de pruebas
prueba_correo.php
prueba_bd.php
generar_password.php
prueba_denue.php